@{
    ViewData["Title"] = "Register";
}
<div class="bg-gray-100 flex items-center justify-center p-10">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>
        <form asp-action="RegisterModel" method="post">
            <!-- Name -->
            
            <div class="mb-4">
                <label for="UserName" class="block text-sm font-medium text-gray-700">Full Name</label>
                <input type="text" id="UserName" name="UserName" placeholder="Enter your full name" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            @if (ViewBag.UserNameError != null)
                {
                    <span class="text-red-500 text-sm">@ViewBag.UserNameError</span>
                }
            </div>

            <!-- Phone -->
            <div class="mb-4">
                <label for="Phone" class="block text-sm font-medium text-gray-700">Phone Number</label>
                <input type="tel" id="Phone" name="Phone" placeholder="Enter your phone number" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            @if (ViewBag.PhoneError != null)
                {
                    <span class="text-red-500 text-sm">@ViewBag.PhoneError</span>
                }
            </div>

            <!-- Address -->
            <div class="mb-4">
                <label for="Address" class="block text-sm font-medium text-gray-700">Address</label>
                <input type="text" id="Address" name="Address" placeholder="Enter your address" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            </div>

            <!-- Password -->
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            </div>

            <!-- Confirm Password -->
            <div class="mb-6">
                <label for="ConfirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm your password"
                    required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            @if (ViewBag.ConfirmPasswordError != null)
                {
                    <span class="text-red-500 text-sm">@ViewBag.ConfirmPasswordError</span>
                }
            </div>
            <!-- Giay phep lai xe -->
            <div class="mb-6">
                <label for="GiayPhepLx" class="block text-sm font-medium text-gray-700">Giay phep lai xe</label>
                <input type="GiayPhepLx" id="GiayPhepLx" name="GiayPhepLx" placeholder="Enter Giay phep LX"
                    required
                    class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:bg-gray-200 focus:border-gray-200 sm:text-sm">
            </div>

            <button type="submit"
                class="w-full py-2 px-4 bg-black text-white font-bold rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500">
                Register
            </button>
        </form>
        <div class="mt-4 text-center justify-center gap-1 flex ">
            <p class="text-sm text-gray-600">Already have an account?</p>
            <a href="/login" class="text-sm  text-black font-bold hover:text-indigo-800">Login</a>
        </div>
        <div class="mt-4 text-center justify-center gap-1">
            <p class="text-sm text-gray-600">Forgot your password?</p>
            <a href="/forgotpassword" class="text-sm text-black font-bold hover:text-indigo-800">Reset Password</a>
        </div>
    </div>
</div>
