<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


<div class="w-full h-auto">
    <div class="text-center border-t border-black">
        <p class="text-3xl text-teal-600 font-semibold mt-5">Về chúng tôi</p>
    </div>
    <div class="w-full h-auto flex justify-center mt-5 gap-10">
        <div class="w-1/3 ml-10">
            <h3 class=" text-center mt-8 mb-4 text-teal-600 text-2xl font-semibold ">Nguồn gốc</h3>
            <p class="mb-5">
                CÂU CHUYỆN NÀY LÀ CỦA CHÚNG MÌNH. <br>
                The Coffee được thành lập vào năm 200, bắt nguồn từ tình yêu dành cho đất Việt cùng với cà phê
                và cộng đồng nơi đây. Ngay từ những ngày đầu tiên, mục tiêu của chúng mình là có thể phục vụ và
                góp phần phát triển cộng đồng bằng cách siết chặt thêm sự kết nối và sự gắn bó giữa người với
                người.
            </p>

        </div>
        <div class="w-2/5">
            <iframe width="560" height="315" class="rounded-lg"
                src="https://www.youtube.com/embed/PmYmi97tIRg?si=DcCG4YA6O6YMPlvE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="w-full h-auto flex  justify-center mt-5 gap-10 p-5">
        <div class="w-2/5 mt-5">
            <img class="rounded-lg shadow-lg mx-auto w-full p-5"
                src="https://chungxe.vn/assets/images/about/pexels-photo.jpg" alt="">
        </div>
        <div class="w-1/3 mt-20">
            <h3 class="text-2xl text-center mb-5 text-teal-600 font-semibold">Tại sao chúng tôi làm?</h3>
            <p class="mb-6">
                Hiện nay, ở Việt Nam chưa có một nền tảng trực tuyến cho thuê và chia sẻ xe máy, ô tô tự lái. Khách
                thuê xe gặp rất nhiều khó khăn để thuê được một chiếc xe tự lái như ý trong khi cá nhân có xe nhàn
                rỗi hoặc các đơn vị cho thuê xe tự lái chưa có một công nghệ đủ tốt để quản lý, tối ưu tài sản của
                mình.
                - Với sự bùng nổ của xu hướng công nghệ 4.0 thì các tiện ích của việc đặt dịch vụ vận chuyển qua
                kênh online/ mobile cũng như công nghệ chia sẻ xe đang ngày càng phát triển và phổ biến.
                - Chia sẻ phương tiện đang dần trở thành xu hướng chính trên thế giới thay thế cho việc sở hữu xe.
            </p>

        </div>
    </div>

    <div class="w-full h-auto flex justify-center mt-5 gap-10">
        <div class="w-1/3 ml-10">
            <h3 class="text-2xl text-center mt-8 mb-4 text-teal-600 font-semibold">Chúng tôi làm như thế nào?</h3>
            <p class="mb-5">
                Ngay cả những vấn đề phức tạp nhất cũng có một giải pháp phù hợp để giải quyết. Tại Chungxe, chúng
                tôi không chỉ cho thuê xe, chúng tôi tạo ra những sản phẩm đổi mới sáng tạo trong hệ sinh thái hiện
                có. Chúng tôi dựa trên công nghệ để cung cấp một giải pháp toàn diện cho vấn đề đi lại bằng cách kết
                nối khách hàng với các nhà cung cấp dịch vụ cho thuê xe tự lái. Sứ mệnh của chúng tôi tại Chungxe là
                cung cấp một nền tảng mà khách hàng có thể dễ dàng thuê một chiếc xe như ý trong khi chủ sở hữu xe
                có thể thu hút khách hàng và tiến hành kinh doanh một cách thuận tiện. Chúng tôi tập trung nỗ lực
                vào việc đơn giản hóa quá trình thuê xe bằng cách đưa ra công cụ hỗ trợ giao dịch từ việc so sánh
                giá đến thanh toán trực tuyến, từ bảo hiểm thuê xe đến miễn giảm thủ tục và rất nhiều các tiện ích
                cho cả khách hàng và các đối tác cung cấp xe.
            </p>

        </div>
        <div class="w-2/5">
            <img class="rounded-lg shadow-lg mx-auto"
                src="https://chungxe.vn/assets/images/about/pexels-photo-862734.jpg" alt="">
        </div>
    </div>
</div>
